body{background-color: var(--color-background02); color: var(--color-font01); text-align: center;}
img{width: 100%;}

/* 컨텐츠 사이즈 */
.contentSize{width: calc(100% - (var(--spacing) * 2)); max-width: 1680px; margin-inline: auto;}
.contentSize-padding{padding-inline: max(calc((100% - 1680px) / 2), var(--spacing)); box-sizing: border-box;}


/* 버튼 */
[class*="btn"]{width: 260px; height: 70px; font-size: 22px; font-weight: 700; display: inline-flex; justify-content: center; align-items: center; border: 1px solid var(--color-font01); box-sizing: border-box;}
.btn-play::before{content: ''; width: 26px; aspect-ratio: 1; background: url(../images/icon-play.png) no-repeat center / cover; margin-right: 15px;}

/*  */
.lineThrough{position: relative; z-index: 1;}
.lineThrough::before{content: ''; position: absolute; left: 50%; top: 50%; translate: -50% -50%; width: calc(100% + 0.5em); height: 0.15em; background-color: var(--color-point); z-index: -1;}



/* 공통 */
[class*="Area"] h2{font-size: 60px; line-height: 72px; font-weight: 900;}
[class*="Area"] > p:first-of-type{font-size: 22px; line-height: 30px; font-weight: 400;}


/* 팝업 */
body:has(.popup.active){overflow: hidden;}
.popup{display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: #000; z-index: 101;}
.popup.active{display: flex; align-items: center;}
.popup > div{display: flex; min-height: calc(100% - (13.8889vh * 2)); /* height: 100%; padding-block: 13.8889vh; */ box-sizing: border-box;}
.popup > div .popup-title{text-align: left;}
.popup > div .popup-title strong{font-size: 50px; line-height: 60px; font-weight: 900;}
.popup > div .popup-title p{font-size: 22px; line-height: 30px; margin-top: 40px;}
.popup > div [data-popupClose]{position: absolute; right: 40px; top: 40px; width: 70px; aspect-ratio: 1; background: url(../images/icon-close.png) no-repeat center / cover; text-indent: -9999px;}
.popup[data-popup*="popup-video"] > div{position: relative;}
.popup[data-popup*="popup-video"] > div .popup-content{position: absolute; left: 50%; top: 50%; translate: -50% -50%;}
.popup:not([data-popup*="popup-video"]) > div{justify-content: space-between;}
.popup:not([data-popup*="popup-video"]) > div .popup-content{width: 66.667%;}
.popup fieldset{font-size: 16px; width: 100%; text-align: left;}
.popup fieldset ul{display: flex; gap: 35px 40px; flex-wrap: wrap;}
.popup fieldset ul li:not([class]){width: calc((100% - 40px) / 2);}
.popup fieldset ul li.fill{width: 100%;}
.popup fieldset ul li > label{font-size: 16px; line-height: 19px; font-weight: 900; margin-bottom: 15px; display: block;}
.popup fieldset ul li:has(:required) > label{display: flex; align-items: center;}
.popup fieldset ul li:has(:required) > label::after{content: '*'; color: var(--color-point); transform: translateY(3px);}
.popup fieldset ul li > label[data-text]::after{content: '(' attr(data-text) ')'; font-weight: 400;}
.popup fieldset ul li div :is(input, textarea){padding-inline: 20px; width: 100%; color: white; border: 1px solid rgba(255, 255, 255, 0.7); background: transparent; box-sizing: border-box;}
.popup fieldset ul li div :is(input, textarea)::placeholder{color: rgba(255, 255, 255, 0.7);}
.popup fieldset ul li div input{height: 60px;}
.popup fieldset ul li div textarea{height: 160px; padding-block: 20px;}
.popup fieldset ul li div:has(label){display: flex;}
.popup fieldset ul li div label{width: 88px; font-weight: 700; display: flex; align-items: center; justify-content: center; flex-shrink: 0; border: 1px solid #fff;}
.popup fieldset input[type="checkbox"] + label{font-size: 16px; line-height: 19px; margin-top: 35px; font-weight: 900; display: flex; align-items: center; cursor: pointer;}
.popup fieldset input[type="checkbox"] + label::after{content: ''; width: 20px; --styleIdx: 0; aspect-ratio: 1; background: url(../images/icon-checkbox.png) no-repeat center top calc(100% * var(--styleIdx)) / 100%; margin-right: 10px; order: -1;}
.popup fieldset input[type="checkbox"]:checked + label::after{--styleIdx: 1;}
.popup fieldset input[type="checkbox"]:required + label::before{content: '(필수)'; color: var(--color-point);}
.popup fieldset input[type="submit"]{width: 360px; height: 70px; font-size: 22px; margin-top: 60px; font-weight: 700; background-color: white; color: var(--color-font02); display: block; margin-inline: auto;}



/* 해더 */
header{padding-top: 42px; padding-bottom: 12px; position: fixed; left: 0; top: 0; width: 100%; transition: 0.5s padding-top; z-index: 100;}
header div{display: flex; justify-content: space-between; align-items: center;}
header div h1{width: 150px;}
header div > a{font-size: 18px; display: flex; align-items: center;}
header div > a::before{content: ''; width: 26px; aspect-ratio: 1; background: url(../images/icon-download.png) no-repeat center / cover; margin-right: 8px;}
header.scroll{padding-top: 12px; background-color: rgba(00, 00, 00, 0.7);}


/* 푸터 */
footer{padding-block: 80px 160px; background: #000;}
footer > div{display: flex; align-items: flex-start;}
footer > div img{width: 214px;}
footer > div div{margin-left: 120px;}
footer > div div ul{padding-block: 30px; display: flex;}
footer > div div ul li{font-size: 18px; line-height: 21px; font-weight: 700; color: rgba(255, 255, 255, 0.7);}
footer > div div ul li:not(:first-child){display: flex; align-items: center;}
footer > div div ul li:not(:first-child)::before{content: ''; height: 0.9375em; width: 1px; background-color: rgba(255, 255, 255, 0.3); margin-inline: 15px;}
footer > div div address{font-size: 18px; line-height: 32px; margin-bottom: 30px; color: rgba(255, 255, 255, 0.7);}
footer > div div address dl{display: flex; align-items: center;}
footer > div div address dl dt{display: flex; align-items: center;}
footer > div div address dl dt::after{content: ':'; margin-inline: 0.4em;}
footer > div div p{font-size: 16px; line-height: 32px; text-align: left; color: rgba(255, 255, 255, 0.3);}
footer > div > a{font-size: 18px; line-height: 21px; padding-top: 30px; font-weight: 400; color: rgba(255, 255, 255, 0.7); margin-left: auto;}
footer > div > a b{font-weight: 700;}
footer > div > a::after{width: 45px; margin-top: 22.5px; content: ''; display: block; aspect-ratio: 45 / 47.5; background: url(../images/icon-kakao.png) no-repeat center / cover; margin-left: auto; opacity: 0.5;}