body{background-color: var(--color-background02); color: var(--color-font01); text-align: center;}
img{width: 100%;}

/* 컨텐츠 사이즈 */
.contentSize{width: calc(100% - (var(--spacing) * 2)); max-width: 1680px; margin-inline: auto;}
.contentSize-padding{box-sizing: border-box;}


/* 버튼 */
[class*="btn"]{font-weight: 700; display: inline-flex; justify-content: center; align-items: center; border: 1px solid var(--color-font01); box-sizing: border-box;}
.btn-play::before{content: ''; aspect-ratio: 1; background: url(../images/icon-play.png) no-repeat center / cover;}

/*  */
.lineThrough{position: relative; z-index: 1;}
.lineThrough::before{content: ''; position: absolute; left: 50%; top: 50%; translate: -50% -50%; width: calc(100% + 0.5em); height: 0.15em; background-color: var(--color-point); z-index: -1;}



/* 공통 */
[class*="Area"] h2{font-weight: 900;}
[class*="Area"] > p:first-of-type{font-weight: 400;}


/* 팝업 */
body:has(.popup.active){overflow: hidden;}
.popup{display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: #000; z-index: 101;}
.popup > div{box-sizing: border-box;}
.popup > div .popup-title strong{font-weight: 900;}
.popup > div [data-popupClose]{position: absolute; aspect-ratio: 1; background: url(../images/icon-close.png) no-repeat center / cover; text-indent: -9999px;}
.popup fieldset ul li > label{font-weight: 900; display: block;}
.popup fieldset ul li:has(:required) > label{display: flex; align-items: center;}
.popup fieldset ul li:has(:required) > label::after{content: '*'; color: var(--color-point); transform: translateY(3px);}
.popup fieldset ul li > label[data-text]::after{content: '(' attr(data-text) ')'; font-weight: 400;}
.popup fieldset ul li div :is(input, textarea){width: 100%; color: white; border: 1px solid rgba(255, 255, 255, 0.7); background: transparent; box-sizing: border-box;}
.popup fieldset ul li div :is(input, textarea)::placeholder{color: rgba(255, 255, 255, 0.7);}
.popup fieldset ul li div :is(input, textarea):focus{border: 1px solid white; outline: none;}
.popup fieldset ul li div :is(input, textarea).error{border: 1px solid var(--color-point);}
.popup fieldset ul li div:has(label){display: flex;}
.popup fieldset ul li div label{width: 88px; font-weight: 700; display: flex; align-items: center; justify-content: center; flex-shrink: 0; border: 1px solid #fff; cursor: pointer;}
.popup fieldset ul li div textarea{height: 160px;}
.popup fieldset input[type="checkbox"] + label{font-weight: 900; display: flex; align-items: center; cursor: pointer;}
.popup fieldset input[type="checkbox"] + label::after{content: ''; --styleIdx: 0; aspect-ratio: 1; background: url(../images/icon-checkbox.png) no-repeat center top calc(100% * var(--styleIdx)) / 100%; order: -1;}
.popup fieldset input[type="checkbox"]:checked + label::after{--styleIdx: 1;}
.popup fieldset input[type="checkbox"]:required + label::before{content: '(필수)'; color: var(--color-point);}
.popup fieldset input[type="submit"]{margin-top: 60px; font-weight: 700; background-color: white; color: var(--color-font02); display: block; margin-inline: auto; border: none;}



/* 해더 */
header{position: fixed; left: 0; top: 0; width: 100%; transition: 0.5s padding-top; z-index: 100;}
header div{display: flex; justify-content: space-between; align-items: center;}
header.scroll{background-color: rgba(00, 00, 00, 0.7);}


/* 푸터 */
footer{background: #000;}
footer > div div ul{display: flex;}
footer > div div ul li{font-weight: 700; color: rgba(255, 255, 255, 0.7);}
footer > div div ul li:not(:first-child){display: flex; align-items: center;}
footer > div div ul li:not(:first-child)::before{content: ''; height: 0.9375em; width: 1px; background-color: rgba(255, 255, 255, 0.3);}
footer > div div address{color: rgba(255, 255, 255, 0.7);}
footer > div div address dl{display: flex; align-items: center;}
footer > div div address dl dt{display: flex; align-items: center;}
footer > div div address dl dt::after{content: ':'; margin-inline: 0.4em;}
footer > div div p{color: rgba(255, 255, 255, 0.3);}
footer > div > a{position: fixed; display: flex; border-radius: 30px; background-color: #FAE100;}
footer > div > a::before{content: ''; aspect-ratio: 1; background: url(../images/icon-kakao.png) no-repeat center / cover;}