/* 최상단 */
.topArea b{font-size: 26px; line-height: 31px; margin-bottom: 20px;}
.topArea img{max-width: 538px; margin-bottom: 30px;}
.topArea p{margin-bottom: 100px;}
.topArea::after{height: 436px;}


/* 럭키 드로우 */
.luckydrawArea{padding-block: 240px 260px;}
.luckydrawArea h2{margin-bottom: 60px;}
.luckydrawArea p{margin-bottom: 140px;}
.luckydrawArea ul{max-width: 1320px; margin-bottom: 160px; display: flex; justify-content: space-between; margin-inline: auto; gap: 4.5%;}
.luckydrawArea ul li::before{margin-bottom: 50px;}
.luckydrawArea ul li{flex: 1; font-size: 24px; line-height: 34px;}
.luckydrawArea div{display: flex; justify-content: center; align-items: center; gap: 20px;}



/* 다양한 제안 */
.proposalArea{padding-block: 260px;}
.proposalArea h2{margin-bottom: 60px;}
.proposalArea p:first-of-type{margin-bottom: 180px;}
.proposalArea ul{margin-bottom: 260px; width: calc(var(--fullWidth) - var(--scrollWidth)); transform: translateX(min(calc((var(--fullWidth) - var(--scrollWidth) - 1680px) / 2 * -1), calc(var(--spacing) * -1)));}
.proposalArea ul li{font-size: 160px; line-height: 190px;}
.proposalArea p:nth-of-type(2){font-size: 40px; line-height: 60px; margin-bottom: 80px;}



/* 플렛폼 */
.platformArea{padding-block: 260px 240px;}
.platformArea h2{margin-bottom: 176px; position: sticky; top: 260px;}
.platformArea ul{height: 1500px; position: relative;}
.platformArea ul li::before{margin-bottom: 30px;}
.platformArea ul li:nth-child(1){width: 420px; position: absolute; right: 0; top: 0;}
.platformArea ul li:nth-child(2){width: 540px; position: absolute; right: 660px; top: 300px;}
.platformArea ul li:nth-child(3){width: 540px; position: absolute; right: 220px; bottom: 0;}
.platformArea ul li b{font-size: 30px; line-height: 36px;}
.platformArea ul li b span{width: 40px; height: 3px; margin-inline: 10px;}
.platformArea ul li p{font-size: 20px; line-height: 24px;}


/* 로고 롤링 */
.rollingLogo{margin-bottom: 120px;}
.rollingLogo img{width: 538px;}
.rollingLogo img:not(:last-child){margin-right: 100px;}