/* 최상단 */
.topArea{padding-block: 260px 230px; background: url(../images/main-BG.png) no-repeat center / cover; position: relative;}
.topArea *{position: relative; z-index: 1;}
.topArea b{font-weight: 900; display: block}
.topArea::after{content: ''; position: absolute; left: 0; bottom: 0; width: 100%; background: linear-gradient(180deg, rgba(10, 10, 10, 0.00) 0%, #0A0A0A 60%);}


/* 럭키 드로우 */
.luckydrawArea ul li::before{content: ''; display: block; aspect-ratio: 1; background: url(../images/luckydraw-img.png) no-repeat center top calc(100% / (var(--idxTotal) - 1) * var(--styleIdx)) / 100%;}
.luckydrawArea ul li b{display: block; font-weight: 900;}


/* 다양한 제안 */
.proposalArea{background-color: var(--color-background01);}
.proposalArea ul{overflow: hidden; text-align: left;}
.proposalArea ul li{font-weight: 900; display: inline-flex; position: relative;}
.proposalArea ul li div{white-space: nowrap; position: relative;}
.proposalArea ul li:nth-child(1) div span:not(:nth-child(1)){-webkit-text-stroke-width: 1px; color: transparent;-webkit-text-stroke-color: white;}
.proposalArea ul li:nth-child(2) div span:not(:nth-child(2)){-webkit-text-stroke-width: 1px; color: transparent;-webkit-text-stroke-color: white;}
.proposalArea ul li:nth-child(3) div span:not(:nth-child(3)){-webkit-text-stroke-width: 1px; color: transparent;-webkit-text-stroke-color: white;}
.proposalArea p:nth-of-type(2){font-weight: 400;}
.proposalArea p:nth-of-type(2) b{font-weight: 900;}


/* 플렛폼 */
.platformArea{text-align: left;}
.platformArea ul li{position: relative;}
.platformArea ul li::before{content: ''; display: block; background-repeat: no-repeat; background-position: center; background-size: cover;}
.platformArea ul li:nth-child(1)::before{aspect-ratio: 420 / 540; background-image: url(../images/platform-img01.png);}
.platformArea ul li:nth-child(2)::before{aspect-ratio: 540 / 420; background-image: url(../images/platform-img02.png);}
.platformArea ul li:nth-child(3)::before{aspect-ratio: 540 / 420; background-image: url(../images/platform-img03.png);}
.platformArea ul li b{font-weight: 900; display: flex; align-items: center; position: absolute; left: 0; top: 0; transform: translateY(-50%); }
.platformArea ul li b span{background-color: white;}
.platformArea ul li p{font-weight: 400;}


/* 로고 롤링 */
.rollingLogo{display: flex; overflow: hidden;}
.rollingLogo img{opacity: 0.05; position: relative;}