/* 최상단 */
.topArea{height: 100vh;}
.topArea b{font-size: 20px; line-height: 24px; margin-bottom: 10px;}
.topArea img{max-width: 240px; margin-bottom: 25px;}
.topArea a{display: none;}
.topArea::after{height: 287px;}


/* 럭키 드로우 */
.luckydrawArea{padding-block: 100px 120px;}
.luckydrawArea h2{margin-bottom: 30px;}
.luckydrawArea p{margin-bottom: 70px;}
.luckydrawArea ul{margin-bottom: 80px;}
.luckydrawArea ul li::before{margin-bottom: 30px;}
.luckydrawArea ul li{font-size: 18px; line-height: 22px; max-width: 300px; margin-inline: auto;}
.luckydrawArea ul li:not(:last-child){margin-bottom: 70px;}
.luckydrawArea div button:not(:last-child){margin-bottom: 10px;}



/* 다양한 제안 */
.proposalArea{padding-block: 120px;}
.proposalArea h2{margin-bottom: 30px;}
.proposalArea p:first-of-type{margin-bottom: 80px;}
.proposalArea ul li{font-size: 54px; line-height: 64px;}
.proposalArea ul{margin-bottom: 120px; width: calc(var(--fullWidth) - var(--scrollWidth)); transform: translateX(min(calc((var(--fullWidth) - var(--scrollWidth) - var(--mobileWidth)) / 2 * -1), calc(var(--spacing) * -1)));}
.proposalArea p:nth-of-type(2){font-size: 20px; line-height: 26px; margin-bottom: 40px;}


/* 플렛폼 */
 .platformArea{padding-block: 120px 80px;}
 .platformArea h2{margin-bottom: 80px;}
 .platformArea ul li::before{margin-bottom: 15px;}
 .platformArea ul li:nth-child(1){width: 58.333%;}
 .platformArea ul li:nth-child(2){width: 75%;}
 .platformArea ul li:nth-child(3){width: 75%;}
 .platformArea ul li:nth-child(2n + 1){margin-left: auto;}
 .platformArea ul li:not(:last-child){margin-bottom: 80px;}
 .platformArea ul li b{font-size: 18px; line-height: 21px;}
 .platformArea ul li b span{width: 20px; height: 1.5px; margin-inline: 3px;}
 .platformArea ul li p{font-size: 13px; line-height: 16px;}


/* 로고 롤링 */
.rollingLogo{margin-bottom: 40px;}
.rollingLogo img{width: 230px;}
.rollingLogo img:not(:last-child){margin-right: 42px;}